 html,
 body {
   height: 100%;
   margin: 0;
   padding: 0;
 }

 #floating-panel {
   position: absolute;
   top: 10px;
   left: 25%;
   z-index: 5;
   background-color: #fff;
   padding: 15px;
   border: 4px solid #999;
   text-align: center;
   font-family: 'Roboto', 'sans-serif';
   line-height: 30px;
   padding-left: 20px;
   padding-right: 30px;
 }


 div.par {
   background-color: lightblue;
 }
 div.par:hover {
   background-color: skyblue;
 }
 div.impar {
   background-color: lightgrey;
 }
 div.impar:hover {
   background-color: darkgray;
 }
